extends layout

block content
  h1 Little League | Date. Backendedly. 
  p.lead Demo application for The League - backend.
  hr
  .row
    .col-sm-6
      h2 Why Impatience is a Virtue in Dating
      p I hate to admit it (especially as the CEO and founder of a dating company), but I hardly have time for dating. If I’m lucky, I’m able to carve out time for one date a month, and if I’m honest, I’m likely looking at my phone for half of the date...
      p
        a.btn.btn-default(href='https://www.linkedin.com/pulse/why-impatience-virtue-dating-amanda-bradford?trk=prof-post',target='_blank', role='button') View details »
    .col-sm-6
      h2 Why Dating Apps Make Us Feel Cheap
      p My first tagline for The League was 'for people who hate dating apps, by people who hate dating apps'. Let me explain. At the ripe age of 31, I have tried pretty much every dating app out there (hey - it’s my job!),...
      p
        a.btn.btn-default(href='https://www.linkedin.com/pulse/why-dating-apps-make-us-feel-cheap-amanda-bradford?trk=prof-post',target='_blank', role='button') View details »
    .col-sm-6
      h2 I’m Not An Elitist, I’m Just An Alpha Female
      p In less than a month from today The League turns 1 and I turn 31. As I reflect back on my first year as a single founder (yes, the pun is intended), my biggest regret is that for nearly a year I’ve held my tongue on voicing the mission behind The League, and instead let the press...
      p
        a.btn.btn-default(href='https://www.linkedin.com/pulse/im-elitist-just-alpha-female-amanda-bradford?trk=prof-post', target='_blank', role='button') View details »
    .col-sm-6
      h2 Hopfully a blog post from me sometime in the future
      p  Until then, here is a link to something I was involved in. I did a thing! On the front page!
      p
        a.btn.btn-default(href='http://www.csuohio.edu/engineering/eecs/eecs/',target='_blank', role='button') View details »